image:
  repository: quay.io/minio/minio
  tag: "RELEASE.2025-09-07T16-13-09Z"
  pullPolicy: IfNotPresent

replicaCount: 1

auth:
  rootUser: "minioadmin"
  rootPassword: "minioadmin123"

persistence:
  enabled: true
  size: 20Gi
  storageClass: ""

resources:
  limits:
    cpu: 250m
    memory: 1Gi
  requests:
    cpu: 50m
    memory: 128Mi

service:
  type: ClusterIP
  ports:
    api: 9000
    console: 9090

openshift:
  enabled: true
  tls:
    termination: edge
    insecurePolicy: Redirect

podAnnotations: {}
nodeSelector: {}
tolerations: []
affinity: {}
